# Copy this to .env.local to test with local backend on localhost:5100
VITE_API_URL=http://localhost:5100
VITE_GOOGLE_CLIENT_ID=232221171944-k012hm1u27tp55dfh66948t5peeckk20.apps.googleusercontent.com
